img{
    border-radius: 50%;
    max-width: 5.25rem;
    max-height: 5.25rem;
}
.img-div{
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-view {
    max-width: 18rem;
}
@media (max-width:890px){
    .profile-view {
        /* max-width: 55rem; */
        max-width: none;
        width: 90%;
    }
}


.info {
    background-color: #F6F7FD;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3.75rem;
}
.info p {
    margin: 0;
}
.info > div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 10%;
}
.info > div > div > p:nth-child(1) {
    color: #8D8F9B;
    font-size: 0.75rem;
}
.info > div > div > p:nth-child(2) {
    color: #6FC8DE;

    font-size: 1.125rem;
}
.info > div {
    display: flex;
    justify-content: flex-start;
}
button {
    margin: 2%;
    padding: 3%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-style: solid;
    border-radius: 20px;
    border-color: #61C2D9;

    color: #61C2D9;
    background-color: #F6F7FD;

    max-height: 25px;
}